@model BuildSeller.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RestorePassword</h2>
<h1>@Html.Raw(@ViewBag.Message)</h1>
@using (Html.BeginForm("RestorePassword", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@Langs.Lang.SendrestorationEmai class="btn btn-default" />
        </div>
    </div>
}